version: 2
updates:
  - package-ecosystem: github-actions
    directories:
      - /
      - /.github/actions/*
    groups:
      github-actions-deps:
        patterns:
          - '*'
    schedule:
      interval: weekly
      day: monday
      time: "06:00"
  - package-ecosystem: gitsubmodule
    directories:
      - /
    schedule:
      interval: weekly
      day: monday
      time: "06:00"
